body {
  font-family: "Prompt", sans-serif;
}

.hamburger-react {
  display: none;
}
@media only screen and (max-width: 1032.2px) {
  .hamburger-react {
    display: block;
  }
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
}
.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  font-size: 22px !important;
}
